.collapse-div {
    display: flex;
    align-items: center
}

.collapse-slider {
    min-width: 50em;
    flex-basis: fill;
}

.category {
    border: 3px black solid;
    border-radius: 2px;
    margin: 20px;
}

.category1 {
    border: 3px gray solid;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.category2 {
    border: 4px gray solid;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.category2 label {
    margin-left: 10px;
}

.radio-group .form-check {
    padding-left: 0;
}

.collapse-text {
    margin-right: 60em;
}

.radio-group .btn-group>.form-check:not(:last-child)>.btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.radio-group .btn-group>.form-check:not(:first-child)>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}

#YES {
    color: gray;
    background-color: white;
    border: 1px solid black;
}

#YES.active {
    color: black;
    background-color: rgb(132, 173, 70);
}

#NA {
    color: gray;
    background-color: white;
    border: 1px solid black;
}

#NA.active {
    color: black;
    background-color: gray;
}


#NO {
    color: gray;
    background-color: white;
    border: 1px solid black;
}

#NO.active {
    color: black;
    background-color: rgb(230, 17, 17);
}